html, body{
    width: 100%;
    background: #EEEEEE;
    font-family: PingFangSC-Regular, "Microsoft YaHei", sans-serif;
    overflow-x: hidden;
}

/* reset default */
html, body, p, div, button, ul, li {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

/* reset basic style */
* {
    box-sizing: border-box;
    outline: none;
    color: #212526;
}

body, h1, h2, h3, h4, h5, h6, ul, p {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    appearance: none;
}

/* global style */
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

textarea {
    font-family: PingFangSC-Regular, "Microsoft YaHei", sans-serif;
}

a {
    color: #282C2E;
}

.overflow-hidden {
    overflow: hidden;
}

/*省略号*/
.text-overflow-ellipsis{
    width: 100%;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

.text-overflow-ellipsis-1{
    width: 100%;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.text-overflow-ellipsis-2{
    width: 100%;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.text-overflow-ellipsis-3{
    width: 100%;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.font-size-12{
    font-size: 0.32rem;
}

.font-size-15{
    font-size: 0.4rem;
}

.text-center {
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}
